.main__layout {
  background-color: var(--bg-color);
  width: 100%;
  // position: relative;
  display: grid;
  grid-template-columns: 18rem 5fr;
  grid-template-rows: 1fr 4fr;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main__layout {
    display: grid;
    grid-template-columns: 17rem 80%;
    grid-template-rows: 1fr 4fr;
  }
}

@media only screen and (max-width: 992px) {
  .main__layout {
    display: grid;
    height: 100%;
    grid-template-columns: 17rem 1fr;
    grid-template-rows: 5fr;
    // grid-template-rows: 10%;
  }
}
