:root {
    // COLOR VARIABLES
   --bg-color:#fff;
   --menu-bg-desktop:#F2F2F2;
   --header-bg-desktop:#056E8F;
   --h1-color:#fff;
   --h3-color:#EAEAEA;
   --color-secondary:#2D758A;
   --text-color-white:#fff;
   --text-color-black:#000000;

    //FONT VARIABLES
    --font-primary: 'Lato', sans-serif;
    --font-display: 'Open Sans', sans-serif;
    --font-secondary:'Montserrat', sans-serif;
    --font-logo:'Allura', cursive;


    //BREAK POINT VARIABLES
    --bp-mobile: 375px; 
    --bp-desktop: 1440px; 
};


