.main__layout {
  &-main {
    background-color: var(--bg-color);
    padding: 2rem;

    &-top-music-title {
      margin-top: 2rem;
      font-size: 1.8rem;
      color: var(--text-color-black);
    }

    &-top-container {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      cursor: pointer;
    }
    &-top-music-card {
      &-active {
        background-color: #2d758a;
        border-radius: 1.2rem;
        color: var(--text-color-black);
        .main__layout-main-top-music-card-icons-icon {
          margin-right: 1rem;
          width: 2.5rem;
          height: 2.5rem;
          fill: var(--logo-color-black);
        }
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      &-image {
        width: 5.5rem;
        height: 5rem;
        border-radius: 1rem;
        margin-right: 1rem;
      }
      &-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
        color: var(--text-color-black);
        // margin-top: 1rem;
        & h4 {
          font-size: 1.6rem;
        }
        & h5 {
          font-size: 1.1rem;
        }
      }
      &-icons {
        &-icon {
          margin-right: 1rem;
          width: 2.5rem;
          height: 2.5rem;
          fill: var(--card-icons);
        }
      }
    }
    &-top-music-card-icons {
      flex-grow: 1;
    }
    &-top-music-card-trackinfo {
      flex-grow: 90;
      display: flex;
      flex-direction: row;
      // align-items: center;
    }
    &-top-music-card-time {
      flex-grow: 1;
      & span {
        font-size: 1.2rem;
        color: var(--text-color-black);
      }
    }
  }

  &-main-top-album-container {
    display: flex;
    width: 72rem;
    padding-top: 1rem;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    color: var(--text-color-black);
  }
  &-main-top-album-card {
    display: flex;
    margin-right: 2rem;
    margin-top: 2rem;
    flex-direction: column;
    width: 20rem;
    cursor: pointer;
  }
  &-main-top-album-card-image {
    width: 19rem;
    height: 17rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  &-main-top-album-card-title {
    font-size: 1.4rem;
    overflow-x: hidden;
  }
  &-main-top-album-card-artist-title {
    padding-top: 0.4rem;
    font-size: 1.2rem;
  }
  &-main-top-album-card-year {
    padding-top: 0.4rem;
    font-size: 1.3rem;
  }
}
